*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  outline: non;
}
.container{
  display: one;
}
.modal{
  display: flex;
  padding: 10px;
  height: 100vh;
  align-items: center;
  width:100%;
  
}
.modal-content{
  display: flex;
  background: ;
  align-items: center;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  flex-direction: column;
 padding: 10px;
  
}
.modal-content input,
select{
  height: 45px;
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid silver;
  outline: none;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}
.modal h3,
h2{
  margin-bottom: 10px;
}
.modal-content .btn{
  height: 45px;
  border: 1px solid silver;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  color: #222;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}
.container{
  display: nne;
}
header{
  background: #ffff;
  position: fixed;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
 
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
h2{
  color: cornflowerblue;
}
.corp{
  position: fixed;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: roll;
}
a{
  text-decoration: none;
}
.corp .btnS{
  height: 130px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
 border: 1px solid gold;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 2.7rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  
color: goldenrod;  
  background-image: url("sala.jpg");
}
.corp .svg{
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 25px;
  right: 15px;
}
.amigos{
  margin-top: 10px;
  position: fixd;
  padding: px;
  width:100%;
  
}
 .amigos input{
   width:100%;
   height: 45px;
   border: none;
   padding: 10px;
   outline: none;
   font-size: 1.5rem;
   border-radius: 6px;
   background: #ccc;
 }
.tabs{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: px;
  justify-content: center;
}
 .active{
  background: cornflowerblue;
  width: 100%;
  height: 45px;
}
.tab-btn{
  font-size: 1.2rem;
  border: none;
  width: 100%;
  height: 45px;
}
/*sala*/
#onlineCount{
  color: green;
}
.hO{
  display: flex;
  align-items: center;
}
.room-section{
  margin-top: 20px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
margin-left: 15px;
  margin-right: 15px;
}
.room-section .btnC{
  height: 45px;
  border: none;
  font-size: 1.4rem;
  color: white;
  background: green;
  box-shadow: 0 2px 10px rgba(0,0,400,0.4);
padding: 10px;
}
.room-section .btnE{
  height: 45px;
  border: none;
  font-size: 1.4rem;
  color: white;
  background: blue;
  box-shadow: 0 2px 10px rgba(0,0,400,0.4);
padding: 10px;
}
.btnT{
  border: none;
  background: red;
  color:white;
  padding: 4px;
  
}
ul{
  display: flex;
  width: 100%;
  overflow-x: scroll;
}
  #lista-tarefas li {
    margin-right: 10px;
    background: bisque;
      padding: 10px;
      border-bottom: 1px solid #ccc;
      display: flex;
    justify-content: space-between;
    width: 100%;
      justify-content: space-between;
    }
   .deletar {
     margin-left: 30px;
      background-color: #f44336;
      color: #fff;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
    }
 #lista-tarefas {
      list-style: none;
      padding: 0;
      margin: 0;
    }
.room-controls{
  display: flex;
  flex-direction: column;
}
.room-section input{
  height: 45px;
  border: none;
  font-size: 1.4rem;
  background: ;
  outline: none;
  margin-bottom: 5px;
  box-shadow: 0 2px 10px rgba(0,0,400,0.4);
padding: 10px;
}
.sp{
  margin-left: 10px;
}
.color{
  display: flex;
  align-items: center;
  padding: 10px;
  display: none;
}
.color button {
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
  
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50px;
  
}
.btn2{
  background: gray;
}
.btn3{
  background: #222;
}
.btn4{
  background: burlywood;
}


.corpo{
  padding: 10px;
  width: 100%;
}
 .user-item {
      padding: 8px;
   margin: 4px 0; 
   margin-right: 10px;
   background: #ecf0f1;
   border-radius: 8px;
      display: flex;
   align-items: center;
   width:299px;
    }
  .users-online {
      background: white; padding: 5px; border-radius: 10px; 
      box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin: 5px 0;
    }
  .dot { width: 12px; height: 12px; background: #2ecc71; border-radius: 50%; margin-right: 10px; }
    #status { margin-top: 2px; padding: 10px; border-radius: 5px; display: inline-block; }
    .offline { background: #e74c3c; color: white; }

 
.users-online {
  width:100%;
  margin-right: 10px;
  background: white;
  padding: 10px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 5px 0;
    }
#usersList{
  width: 100%;
  display: flex;
  
}
.teclas{
  
  display: flex;
  width:100%;
  position: fixed;
  bottom: 0;
  padding: 15px;
  
}
  
.corpo button{
  margin-right: 5px;
  width: 70px;
  height: 50px;
}
.op{
  display: flex;
}
.op button{
  cursor: pointer;
  padding: 3px;
  border: none;
  display: flex;
  justify-content: center;
  color: cadetblue;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
  
}
/*calcular*/

   
    .calculadora {
      width: 100%;
      display: none;
      background: #333;
      padding: 20px;
      
      border-radius: 15px;
      box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    }
    .display {
      width: 100%;
      height: 60px;
      font-size: 2em;
      text-align: right;
      padding: 0 10px;
      margin-bottom: 10px;
      border: none;
      border-radius: 8px;
      background: #222;
      color: white;
    }
    .btns {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
.btns button {
      padding: 20px;
      font-size: 1.5em;
    display: flex;
    align-items: center;
      border: none;
      border-radius: 8px;
      background: #555;
      color: white;
      cursor: pointer;
      transition: 0.2s;
    }
   .btns button:hover {
     background: #777;
   }
    .btns button:active { 
      transform: scale(0.95);
    }
    .zero { grid-column: span 2;
    }
    .operador { 
      background: #ff9500; }
    .operador:hover { 
      background: #ffb143; }
    .igual {
      background: #28a745; }
    .igual:hover {
      background: #34ce57; }
/*chat*/
.lista {
  margin-top: 10px;
  height: 60vh;
  display: flex;
  margin-bottom: 100px;
  flex-direction: column;
  overflow-x: scroll;
}
    .item {padding:10px; border-radius:50px; display:flex;  align-items:center; gap:15px; cursor:pointer; position:relative; margin-bottom: 10px;
      justify-content: space-between;
    }
    .item:hover {background:#e4e6eb;}
    .item.melhor {background:#e7f3ff; border-left:5px solid #1877f2;}
    .avatar {width:50px; display: none; height:50px; border-radius:50%; object-fit:cover;}
.img {height: 55px; width: 55px; border-radius: 60px;}
   .online {position:absolute; bottom:12px; left:50px; width:16px; height:16px; background:#31a24c; border:3px solid white; border-radius:50%;}
    .estrela {color:#ccc; font-size:20px; cursor:pointer;}
    .estrela.ativo {color:#ffd700;}
    
.chat-box {width:100%; height:100vh; background:white;  box-shadow:0 0 25px rgba(0,0,0,0.2); overflow:hidden; display:flex; flex-direction:column;}
   .chat-header {background:#1877f2; color:white; padding:14px; display:flex; align-items:center; justify-content:space-between; font-weight:600;}
    .chat-header .close {cursor:pointer; font-size:22px;}
    .chat-messages {flex:1; overflow-y:auto; padding:15px; background:#f0f2f5;}
    .chat-input {padding:12px; background:white; display:flex; gap:10px; border-top:1px solid #ddd;}
    .chat-input input {flex:1; padding:12px 18px; border-radius:25px; border:1px solid #ddd;}

    .chat-input button {width:44px; height:44px; border-radius:50%; background:#1877f2; color:white; border:none; cursor:pointer;}

    .msg {padding:10px 10px; margin:8px 0; border-radius:18px; max-width:78%; word-wrap:break-word;}
    .eu {background:#1877f2; color:white; margin-left:auto;}
    .outro {background:#e4e6eb; color:black;}
    