*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  outline: non;
}
.ccontainer{
  
}
header{
  background: #ffff;
  position: fixed;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
 
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
h2{
  color: cornflowerblue;
}
.corp{
  padding: 10px;
  
}
a{
  text-decoration: none;
}
.corp button{
  height: 130px;
  width: 100%;
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
 border: 1px solid gold;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 2.7rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
color: goldenrod;  
  background-image: url("../img/sala.jpg");
}
.corp .svg{
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 25px;
  right: 15px;
}
.amigos{
  margin-top: 10px;
  padding: px;
  width:100%;
  
}
 .amigos input{
   width:100%;
   height: 45px;
   border: none;
   padding: 10px;
   outline: none;
   font-size: 1.5rem;
   border-radius: 6px;
   background: #ccc;
 }
/*sala*/
#onlineCount{
  color: green;
}
.hO{
  display: flex;
  align-items: center;
}
.sp{
  margin-left: 10px;
}
.color{
  display: flex;
  align-items: center;
  padding: 10px;
  display: none;
}
.color button {
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
  
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50px;
  
}
.btn2{
  background: gray;
}
.btn3{
  background: #222;
}
.btn4{
  background: burlywood;
}


.corpo{
  padding: 10px;
  width: 100%;
}
 .user-item {
      padding: 8px;
   margin: 4px 0; 
   margin-right: 10px;
   background: #ecf0f1;
   border-radius: 8px;
      display: flex;
   align-items: center;
   width:299px;
    }
  .users-online {
      background: white; padding: 5px; border-radius: 10px; 
      box-shadow: 0 2px 10px rgba(0,0,0,0.1); margin: 5px 0;
    }
  .dot { width: 12px; height: 12px; background: #2ecc71; border-radius: 50%; margin-right: 10px; }
    #status { margin-top: 2px; padding: 10px; border-radius: 5px; display: inline-block; }
    .offline { background: #e74c3c; color: white; }

 
.users-online {
  width:100%;
  margin-right: 10px;
  background: white;
  padding: 10px; 
  border-radius: 10px; 
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 5px 0;
    }
#usersList{
  width: 100%;
  display: flex;
  overflow-y: scroll;
}
.teclas{
  
  display: flex;
  width:100%;
  position: fixed;
  bottom: 0;
  padding: 15px;
  overflow-y: scroll;
}
   textarea {
     backgroud: burlywood;
      width: 100%; height: 60vh; padding: 15px; font-size: 16px;
      font-family: 'Courier New', monospace; border: 2px solid #3498db;
      border-radius: 8px; resize: vertical; margin-bottom: px;
    }
.corpo button{
  margin-right: 5px;
  width: 70px;
  height: 50px;
}
.op button{
  cursor: pointer;
  padding: 3px;
  border: none;
  color: cadetblue;
  box-shadow: 0 2px 10px rgba(0,0,40,0.4);
  
}
